{% extends 'books/base.html' %}
{% load static %}

{% block content %}
    <div class="holder">
        {% include 'books/teacher_bar.html' %}
        <h1>Редактирование расписания</h1>
        <form action="{% url 'editor' class_id %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.date.label }}</td>
                    <td>{{ form.date }}</td>
                </tr>
                <tr>
                    <td>{{ form.first.label }}</td>
                    <td>{{ form.first }}</td>
                </tr>
                <tr>
                    <td>{{ form.second.label }}</td>
                    <td>{{ form.second }}</td>
                </tr>
                <tr>
                    <td>{{ form.third.label }}</td>
                    <td>{{ form.third }}</td>
                </tr>
                <tr>
                    <td>{{ form.fourth.label }}</td>
                    <td>{{ form.fourth }}</td>
                </tr>
                <tr>
                    <td>{{ form.fifth.label }}</td>
                    <td>{{ form.fifth }}</td>
                </tr>
                <tr>
                    <td>{{ form.sixth.label }}</td>
                    <td>{{ form.sixth }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="create" value="Сохранить"/></td>
                </tr>
                {% if messages %}
                    <form action="{% url 'editor' class_id %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <td></td>
                            <td><input type="submit" name="remove" value="Удалить"/></td>
                        </tr>
                    </form>
                {% endif %}
            </table>
            {% if messages %}
                {% for message in messages %}
                    <p style="color:#127a00">{{ message }}</p>
                {% endfor %}
                {% if today_schedule %}
                    <code>
                    <h1>{{ today_schedule.date }} - {{ today_schedule.group }}</h1>
                        <table class="ranks">
                            <tr>
                                <th>№</th>
                                <th>Название</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>{% if today_schedule.first %}{{ today_schedule.first }}{% else %}---{% endif %}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>{% if today_schedule.second %}{{ today_schedule.second }}{% else %}---{% endif %}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>{% if today_schedule.third %}{{ today_schedule.third }}{% else %}---{% endif %}</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>{% if today_schedule.fourth %}{{ today_schedule.fourth }}{% else %}---{% endif %}</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>{% if today_schedule.fifth %}{{ today_schedule.fifth }}{% else %}---{% endif %}</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>{% if today_schedule.sixth %}{{ today_schedule.sixth }}{% else %}---{% endif %}</td>
                            </tr>
                        </table>
                    </code>
                {% endif %}
            {% endif %}
            <p></p>
        </form>
    </div>
{% endblock %}