{% extends 'books/base.html' %}
{% load static %}

{% block content %}
    <div class="holder">
        <h1>Расписание занятий</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
        </form>

        {% for item in schedule_list %}
            <code>
                <h1>{{ item.date | date:"l" }} {{ item.date }}</h1>
                <table class="ranks">
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>{% if item.first %}{{ item.first }}{% else %}---{% endif %}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>{% if item.second %}{{ item.second }}{% else %}---{% endif %}</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>{% if item.third %}{{ item.third }}{% else %}---{% endif %}</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>{% if item.fourth %}{{ item.fourth }}{% else %}---{% endif %}</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>{% if item.fifth %}{{ item.fifth }}{% else %}---{% endif %}</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>{% if item.sixth %}{{ item.sixth }}{% else %}---{% endif %}</td>
                    </tr>
                </table>
            </code>
        {% endfor %}

        <p></p>
    </div>
{% endblock %}