{% extends 'books/base.html' %}
{% load static %}

{% block content %}

    <div class="holder" xmlns="http://www.w3.org/1999/html">

        <h1>Выберите класс</h1>
        <code>
            <table class="ranks">
                <tr>
                    <th>Класс</th>
                    <th>Классный руководитель</th>
                </tr>
                {% for class in class_list %}
                    <tr>
                        <td><a href="{% url 'list_student' class.2 %}">{{ class.0 }}{{ class.1 }}</a></td>
                        <td>{{ class.3 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </code>

        <p></p>
    </div>
{% endblock %}